#namebox {
	border:	2px solid black;
	background: yellow;
	border-radius:5px;
	padding: 10px;	
}

body{
	background: #fffccc;
	font: font-family: arial,sans-serif;
}

.card{
		background : white;
		border-radius: 10px;
		border-shadow : 2px;
		padding:10px;
		min-width:600px;
		min-height: 150px;
}